$color-primary: orange;
$color-secondary: darkblue;
$color-additional: lightgreen;

p:last-of-type {
    margin-top: 50px;
}

h1 {
    text-decoration: underline;
    text-align: center;
    color: $color-primary;
    margin-top: 4rem;
}

p {
    color: $color-secondary;
}

//w poniższym przypadku nie potrzeba selektora rodzica
p, div {
    + ul {
        color: $color-primary;
    }
}

a {
    &.link {
        color: $color-additional;
        border: solid black 2px;
    }
}

.style {
    list-style-type: square;
    font-size: 120%;
}

.ordered-style { 
    color: $color-secondary;
    list-style-type: upper-alpha;

    li:nth-child(2n) {
        text-decoration: underline;
        font-style: italic;
    }
    li:nth-child(2n + 1) {
        text-decoration: line-through;
        font-weight: lighter;
    }
    li:hover {
        border: solid $color-additional 2px;
    } 
}

.obramowanie {
    border: solid black 2px;
    padding: 10px;
    background-color: lightgray;
    width: 33%;
    
    &:first-letter {
        font-size: 300%;
        padding: 0 5px;
        float: left;
        font-family: sans-serif;
    }
}

.obraz {
    vertical-align: top;
}

.navbar {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: $color-primary;
    width: 100%;
    height: 50px;
    text-align: right;

    ul {
        padding: 0;
        margin: 0;
        position: absolute;
        width: 100%;
        list-style-type: none;
        overflow: visible;

        > li {
            display: block;
            float: right;
            height: auto;
            width: 120px;
        }

        ul {
            margin-top: 2px;
            display: none;
            position: static;
            height: auto;
            width: 160px;
            border: 1px blue solid;
            background-color: lightgray;

            li {
                position: relative;
                float: none;
                display: block;
                height: 28px;
                width: 100%;
                border: none;

                > a {
                    height: 100%;
                    width: 96%;
                    padding: 0 0 0 4%;
                    line-height: 28px;
                    background-color: transparent;
                    border: none;
                }
            }
        }
    }

    li {
        > a {
            display: block;
            padding: 0 0 0 10px;
            height: 100%;
            width: 100px;
            border-right: 1px black solid;
            line-height: 30px;
            text-decoration: none;
        }
        &:hover > a {
            color: $color-secondary;
            background-color: $color-additional;
        }

        &:hover > ul {
            display: block;
        }
    }

   
}

.mniejszy {
    width: 250px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    background-color: lightgray;
    margin-top: 50px;
    width: 450px;
    //column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;

    > div {
        background-color: lighten($color-primary, 20%);
        border: solid lighten($color-secondary, 30%) 2px;
        border-radius: 5px;
        width: 100px;
        height: 40px;
        flex: 1 1 auto;
    }
}