p:last-of-type {
  margin-top: 50px;
}

h1 {
  text-decoration: underline;
  text-align: center;
  color: orange;
  margin-top: 4rem;
}

p {
  color: darkblue;
}

p + ul, div + ul {
  color: orange;
}

a.link {
  color: lightgreen;
  border: solid black 2px;
}

.style {
  list-style-type: square;
  font-size: 120%;
}

.ordered-style {
  color: darkblue;
  list-style-type: upper-alpha;
}

.ordered-style li:nth-child(2n) {
  text-decoration: underline;
  font-style: italic;
}

.ordered-style li:nth-child(2n + 1) {
  text-decoration: line-through;
  font-weight: lighter;
}

.ordered-style li:hover {
  border: solid lightgreen 2px;
}

.obramowanie {
  border: solid black 2px;
  padding: 10px;
  background-color: lightgray;
  width: 33%;
}

.obramowanie:first-letter {
  font-size: 300%;
  padding: 0 5px;
  float: left;
  font-family: sans-serif;
}

.obraz {
  vertical-align: top;
}

.navbar {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: orange;
  width: 100%;
  height: 50px;
  text-align: right;
}

.navbar ul {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  list-style-type: none;
  overflow: visible;
}

.navbar ul > li {
  display: block;
  float: right;
  height: auto;
  width: 120px;
}

.navbar ul ul {
  margin-top: 2px;
  display: none;
  position: static;
  height: auto;
  width: 160px;
  border: 1px blue solid;
  background-color: lightgray;
}

.navbar ul ul li {
  position: relative;
  float: none;
  display: block;
  height: 28px;
  width: 100%;
  border: none;
}

.navbar ul ul li > a {
  height: 100%;
  width: 96%;
  padding: 0 0 0 4%;
  line-height: 28px;
  background-color: transparent;
  border: none;
}

.navbar li > a {
  display: block;
  padding: 0 0 0 10px;
  height: 100%;
  width: 100px;
  border-right: 1px black solid;
  line-height: 30px;
  text-decoration: none;
}

.navbar li:hover > a {
  color: darkblue;
  background-color: lightgreen;
}

.navbar li:hover > ul {
  display: block;
}

.mniejszy {
  width: 250px;
  margin-bottom: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: lightgray;
  margin-top: 50px;
  width: 450px;
  row-gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container > div {
  background-color: #ffc966;
  border: solid #2525ff 2px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@-webkit-keyframes example {
  0% {
    background-color: orange;
  }
  50% {
    background-color: darkblue;
  }
  100% {
    background-color: lightgreen;
  }
}

@keyframes example {
  0% {
    background-color: orange;
  }
  50% {
    background-color: darkblue;
  }
  100% {
    background-color: lightgreen;
  }
}

.animacja {
  width: 150px;
  height: 150px;
  background-color: orange;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

.wrapper {
  border: 2px solid orange;
  background-color: lightgray;
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
      grid-template-areas: "hd  hd  hd  hd   hd   hd   hd   hd  hd" "sbl sbl .   main main main main sbr sbr" "sbl sbl .   main main main main sbr sbr" "ft  ft  ft  ft   ft   ft   ft   ft  ft";
}

.wrapper > div {
  border: 2px solid green;
  border-radius: 5px;
  background-color: #ffc04d;
}

@media (max-width: 500px) {
  .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "hd"    "sbl"    "main"    "sbr"    "ft";
  }
}

.wrapper .box11 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: hd;
}

.wrapper .box12 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: sbl;
}

.wrapper .box13 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-area: main;
}

.wrapper .box14 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-area: sbr;
}

.wrapper .box15 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: ft;
}

.nazwane {
  margin-top: 50px;
  border: 2px solid darkblue;
  padding: 1px;
  background-color: lightgray;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [hd-start] 1fr 1fr 1fr [hd-end];
      grid-template-columns: [hd-start] 1fr 1fr 1fr [hd-end];
  grid-auto-rows: minmax(100px, auto);
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 1em;
}

.nazwane > div {
  border: 2px solid green;
  background-color: lightblue;
}

.nazwane .box1 {
  -ms-grid-column: hd-start;
      grid-column-start: hd-start;
  grid-column-end: hd-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.nazwane .box2 {
  grid-column: -1 / -3;
}
/*# sourceMappingURL=style.css.map */