$color-primary: orange;
$color-secondary: darkblue;
$color-additional: lightgreen;

h1 {
    text-decoration: underline;
    text-align: center;
    color: $color-primary;
}

p {
    color: $color-secondary;
}

//w poniższym przypadku nie potrzeba selektora rodzica
p, div {
    + ul {
        color: $color-primary;
    }
}

a {
    &.link {
        color: $color-additional;
    }
}

.style {
    list-style-type: square;
}

.ordered-style {
    list-style-type: upper-alpha;
}
