$color-primary: orange;
$color-secondary: darkblue;
$color-additional: lightgreen;

h1 {
    text-decoration: underline;
    text-align: center;
    color: $color-primary;
}

p {
    color: $color-secondary;
}

//w poniższym przypadku nie potrzeba selektora rodzica
p, div {
    + ul {
        color: $color-primary;
    }
}

a {
    &.link {
        color: $color-additional;
    }
}

.style {
    list-style-type: square;
    font-size: 120%;
}

.ordered-style { 
    color: $color-secondary;
    list-style-type: upper-alpha;

    li:nth-child(2n) {
        text-decoration: underline;
        font-style: italic;
    }
    li:nth-child(2n + 1) {
        text-decoration: line-through;
        font-weight: lighter;
    }
}

